[Unit]
Description=LegionGoSGyroDSU
After=network-online.target
Wants=network-online.target

[Service]
Environment=LGSDSU_PORT=26760
Environment=LGSDSU_IP=127.0.0.1
Type=simple
RestartSec=1
User=root
Restart=on-failure
ExecStart=/LegionGoSGyroDSU/LegionGoSGyroDSU
WorkingDirectory=/LegionGoSGyroDSU

[Install]
WantedBy=graphical.target
